<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Contacts.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8F62B34C26F9DAE100F19CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F62B36226F9DAE500F19CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8F62B36D26F9DAE600F19CBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
